.generalCont{
    width: 100%;
    margin-left: 5%;
    margin-right: 15%;
    overflow-x: hidden;
}
.upcomingP{
    background-color: green;
    height: 30vh;
    margin-right: 10%;
    border-radius: 25px 25px 4px 25px
}