.upcomingPInner{
    padding: 6% 5% 5% 5%;
    background-color: green;
    margin-right: 10%;
    border-radius: 25px 25px 4px 25px;
    font-size: 1.2em;
    color: white;
}

.ucBeside{
    display: flex;
    align-items: center;
}
.fRight2{
    float: right;
    margin-left: auto;
    order: 2;
    padding-right: 10%;
    
}