html, body{
    background: #18181c; 
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}
body{
    position: relative;
    max-width: 100vw;
}
.App{
    overflow-x: hidden;
    background: #18181c;
    color: white;
    min-height: 100vh;
}
.choice{
    display: flex;
    background: #26262b;
    border-radius: 15px 15px 15px 15px;
    background: white;
    margin-left: 28%;
    margin-right: 28%;
    justify-content: space-around;
    margin-top: 10%;
}

.choiceSpan{
    background: white;
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 15px 15px 15px 15px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    border: none;
}
.choiceSpan:focus{
    border-radius: 15px 15px 15px 15px;
    background: #0368c7;
    margin-left: -12%;
    width: 125%;
    transition: width .2s;
}
a {
    all: unset;
}